h1, p {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

i {
    cursor: pointer;
}

h1 {
    font-size: 22px;
}

p {
    font-size: 16px;
}

.stages {
    padding: 1rem;
}

.details {
    font-size: 10px !important;
}

.flight_div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flight_selector {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-left: 10px;
}

.flight_selector input {
    width: 40px;
}

.mission-report {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.mission-report h1{
    padding-top: 1rem;
    font-size: 24px !important;
}

.mission-report p{
    font-size: 18px !important;
}

.rocket-img{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin: auto;
}

.mission-patch{
    position: absolute;
    top: 50%;
    right:60%;
    width: 150px;
    height: 150px;
}
